h1 { margin-top: 0; margin-bottom: 0 }
p { margin-top: 0; margin-bottom: 0 }

body {
    font-family: "Avenir Next";
    background-color: rgba(152, 184, 232, 0.5);

  }


  .header {
    background-image: url("img/sky_00014.jpg");
    color: #fff;
    height:100px;
  }

  .header-logo {
    height: 25px;
    margin-top: 2px;
    font-size: 30px;
    padding: 2px 10px;
  }

  .header-list p {
    font-size: 15px;
    padding: none;
    margin-top: 0.5em; margin-bottom: 0.5em;
  }

  li {
    list-style: none;
  }

  .datelink {
    font-size: 80%;
  }

  .datelink link {
    display: inline-block;
    width: 150px;
    height: 50px;
  }


  .image1 img{
    max-width: 95%;
    height: auto;
    margin-top: 10px;
    padding: 2px 2px;
  }

  .textmaxmin h1 {
    font-size: 16px;
    color: rgb(241, 241, 247);
    background-color: rgba(0, 0, 255, 0.4);
  }
  .textmaxmin2019_2022 h1 {
    font-size: 13px;
    color: rgb(241, 241, 247);
    background-color: rgba(0, 0, 255, 0.4);
  }


  .price_table p{
    font-size: 15px;
    color: rgb(6, 1, 6);
  }

  .price_table {
    max-width: 95%;
    table-layout: fixed;
    font-size: 13px;
    color: rgb(6, 1, 6);
    text-align: right
  }

.price_table th:first-child {
  /* 横スクロール時に固定する */
  position: -webkit-sticky;
  position: sticky;
  left: 0;
  background:rgba(163, 163, 230, 1.0);
}

.price_table thead th {
  /* 縦スクロール時に固定する */
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background:rgba(163, 163, 230, 1.0);
  /* tbody内のセルより手前に表示する */
  z-index: 1;
}
/* ６列目の北陸の数値を太字・青字に */
table td:nth-child(6) {
	color: #3a18e4;
	font-weight: bold;
}
/* 4列目の東京の数値を太字に */
table td:nth-child(4) {
	font-weight: bold;
}

.table2019_2022 th{
  width: 50px;
  text-align: center;
}

.table2019_2022 td{
  width: 50px;
}