body {
    font-family: "Avenir Next";
    background-image: url("img/sky_00014.jpg");
  }

  li {
    list-style: disc;
  }

  .header {
    background-color: #2631d0;
    color: #fff;
    height:80px;
  }

  .header-logo {
    height: 25px;
    margin-top: 2px;
    font-size: 36px;
    padding: 2px 10px;
  }

  .header-list li {
    font-size: 15px;
    padding: 2px 10px;
  }

  .image1 img{
    max-width: 100%;
    height: auto;
    margin-top: 10px;
    padding: 2px 10px;
  }
