body {
    font-family: "Avenir Next";
    background-image: url("img/sky_00014.jpg");
  }

  li {
    list-style: disc;
  }

  .header {
    background-color: #26d0c9;
    color: #fff;
    height:150px;
  }

  .header-logo {
    height: 25px;
    margin-top: 2px;
    font-size: 36px;
    padding: 2px 10px;
  }

  .header-list li {
    font-size: 15px;
    padding: 2px 10px;
  }
