<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <title>jepx_spot</title>
        <link rel="stylesheet" href="{{url_for('static',filename = 'style.css')}}">
    </head>
    <body>
      <div class="header">
        <div class="header-logo">JEPX Price!!</div>
        <div class="header-list">
          <p>・最新のスポット市場価格を表示します<br>（数値表示は北陸エリア）</p>
        </div>
      </div>
      <div class="datelink">
        <div class="link">
          <a href = "{{url_for('index')}}"> 最新&nbsp;{{latest_date}}&emsp;</a>
          <a href = "{{url_for('dayago1')}}"> 前日&nbsp;{{day_ago1}}&emsp;</a>
          <a href = "{{url_for('dayago2')}}"> 前々日&nbsp;{{day_ago2}}&emsp;</a>
          <a href = "{{url_for('lastweek')}}"> &nbsp;過去1週間&emsp;</a>
          <a href = "{{url_for('lastmonth')}}"> &nbsp;過去30日間&emsp;</a>
          <a href = "{{url_for('FY2019to2022')}}"> &nbsp;過年度比較&emsp;</a>
          <a href = "{{url_for('QR')}}"> &nbsp;QRコード表示&emsp;</a>
        </div>
      </div>

      <div class="image1">
        <img src="data:image/png;base64,{{ img1 }}">
      </div>
      <div class="textmaxmin">
        <h1>全国&nbsp;&nbsp;最高：{{text_max1}} &nbsp;最安：{{text_min1}}&nbsp;平均：{{text_mean1}}</h1>
        <h1>北陸&nbsp;&nbsp;最高：{{text_max_riku1}} &nbsp;最安：{{text_min_riku1}}&nbsp;平均：{{text_mean_riku1}}</h1>
      </div>
      <div class="price_table">
      <table >
        <p>（参考：エリア別単価）<p>
        {{ today_prices1|safe }}
      </table>
      </div>
    </body>
</html>
