<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <title>jepx_spot</title>
        <link rel="stylesheet" href="{{url_for('static',filename = 'style.css')}}">
    </head>
    <body>
      <div class="header">
        <div class="header-logo">JEPX Price!!</div>
        <div class="header-list">
          <p>・最新のスポット市場価格を表示します<br>（数値表示は北陸エリア）</p>
        </div>
      </div>
      <div class="datelink">
        <div class="link">
          <a href = "{{url_for('index')}}"> 最新&nbsp;{{latest_date}}&emsp;</a>
          <a href = "{{url_for('dayago1')}}"> 前日&nbsp;{{day_ago1}}&emsp;</a>
          <a href = "{{url_for('dayago2')}}"> 前々日&nbsp;{{day_ago2}}&emsp;</a>
          <a href = "{{url_for('lastweek')}}"> &nbsp;過去1週間&emsp;</a>
          <a href = "{{url_for('lastmonth')}}"> &nbsp;過去30日間&emsp;</a>
          <a href = "{{url_for('FY2019to2022')}}"> &nbsp;年度比較&emsp;</a>
          <a href = "{{url_for('QR')}}"> &nbsp;QRコード表示&emsp;</a>
        </div>
      </div>

      <div class="image1">
        <img src="data:image/png;base64,{{ img5 }}">
      </div>
      <div class="textmaxmin">
        <h1>[2022]最高値： {{text_max2022}}  &nbsp;[2022]最安値： {{text_min2022}}</h1>
        <h1>[2021]最高値： {{text_max2021}}  &nbsp;[2021]最安値： {{text_min2021}}</h1>
        <h1>[2020]最高値： {{text_max2020}}  &nbsp;[2020]最安値： {{text_min2020}}</h1>
        <h1>[2019]最高値： {{text_max2019}}  &nbsp;[2019]最安値： {{text_min2019}}</h1>
        <p>
      </div>

    </body>
</html>
