<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <title>Page</title>
        <link rel="stylesheet" href="{{url_for('static',filename = 'style.css')}}">
    </head>
    <body>
      <div class="header">
         <div class="header-logo">Price!!</div>
         <div class="header-list">
           <ul>
             <li>jepxのスポット市場価格を表示します</li>
             <li>第１号です</li>
             <li>日々勉強中</li>
           </ul>
         </div>
      </div>
      <div style="margin-left: 150px;">
        <img src="data:image/png;base64,{{ img }}">
      </div>
   </body>
</html>
